//GENERAL STYLES

.assortment{
    .category{
        margin-top: 12px;
        .category-name{
            font-weight: bold;
            font-size: 2rem;
        }
        .items{
            margin-top: 15px;
        }
    }
}

//MOBILE

@media (max-width: 550px) {
    .items{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-items: center;
        column-gap: 1.5rem;
        row-gap: 1rem; 
    }
}

//DESKTOP

@media (min-width: 551px) {
    .items{
        display: flex;
        flex-wrap: wrap;
        
        .item-card{
            padding-right: 1.5rem   ;
        }
    }
}