.assortment{
    .category{
        margin-top: 12px;
        .category-name{
            font-weight: bold;
            font-size: 2rem;
        }
        .items{
            margin-top: 15px;
            display: grid;
            grid-template-columns: 45% 45%;
            column-gap: 2.5rem;
            row-gap: 1rem;
        }
    }
}